[user]
	name = mathiasmagnusson
	email = mathiasmagnussons@gmail.com
[alias]
	st = status
	c = commit
	a = add
	p = push
	co = checkout
	br = branch
	sw = switch
[init]
	defaultBranch = main
[pull]
	rebase = true
